
@model IEnumerable<MVC_laboration.Models.PostModel>
@{
    ViewBag.Title = "Start";
}

<h1>Välkommen @ViewBag.Hello</h1>
<partial name="_ClockPartial" />
@foreach(var Post in Model)
{
    <article>
        <div class="post-info">
            <span class="author">@Post.Author</span>
            <span class="timestamp">@Post.Timestamp</span>
        </div>
        
        <p>@Post.Content</p>
        <span class="Mood">@Post.Mood</span>
        <a class="details" asp-controller="Home" asp-action="Details" asp-route-id="@Post.Id" aria-label="gå till inlägg"></a>
    </article>
}